body {
    background-color: #2e3035;
    font-family: sans-serif;
}
#heading {
    color: #aed8ea;
    text-align: center;
}
#tag-heads {
    /* border: 1px solid red; */
    color: #b9bac8;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#tags {
    /* border: 1px solid yellow; */
    width: 90%;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#tags img {
    width: 110px;
    height: 100px;
}
#tags h5 {
    text-align: center;
    margin: 5px 0;
}